<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro"
       name="ur5" >

  <xacro:arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface"/>

  <!-- common stuff -->
  <xacro:include filename="$(find ur_description)/urdf/common.gazebo.xacro" />

  <!-- ur5 -->
  <xacro:include filename="$(find ur_description)/urdf/ur5.urdf.xacro" />

  <!--robotiq-->
  <xacro:include filename="$(find robotiq_2f_85_gripper_visualization)/urdf/robotiq_arg2f_85_model_macro.xacro" />

  <!-- arm -->
  <xacro:ur5_robot prefix="" joint_limited="false"
    transmission_hw_interface="$(arg transmission_hw_interface)"
  />

  <!--griper-->
  <xacro:robotiq_arg2f_85 prefix="" parent="ee_link"/>

  <link name="world" />

  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link = "table" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>

  <link name="table">
    <visual>
        <geometry>
          <box size="2 1 0.1"/>
        </geometry>
        <material name="gray">
          <color rgba="0.8 0.8 0.8" />
        </material>
        <origin rpy="0 0 0" xyz="0 0 0"/>
    </visual>
  </link>

  <joint name="table_joint" type="fixed">
    <parent link="table" />
    <child link="base_link" />
    <origin xyz="0.0 0.0 0.05" rpy="0.0 0.0 0.0"/>
  </joint>
  
</robot>
